.address {
  @extend %list;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address .link {
  @extend %link;
  display: inline-block;
  width: 231px;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address .link.white {
  color: var(--secondory-text-color);
}

.column {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
