.contact {
  @extend %list;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contact__item + .contact__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.contact__link {
  @extend %link;
  display: flex;
  align-items: center;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color var(--trns-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.contact__icon.envelope {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.contact__icon.smartphone {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}

/* .contact__link.mail::before {
      content: "";
      width: 16px;
      height: 12px;
      margin-right: 10px;
      background-image: url(../images/envelope.svg);
  } */

/* .contact__link.phone::before {
      content: "";
      width: 10px;
      height: 16px;
      margin-right: 10px;
      background-image: url(../images/smartphone.svg);
  } */
