.address {
  @extend %list;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  @extend %link;
  display: inline-block;
  width: 231px;
  height: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address .link.white {
  color: var(--secondory-text-color);
}

.column {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
